* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;


}

.navbar_1 {
    color: #012B11;
    cursor: pointer;

}

.navbar_2 {
    display: flex;
    gap: 25px;
    margin-left: 120px;
    color: #1A4029;
    cursor: pointer;
}

.navbar_3 {
    display: flex;
    gap: 10px;
    margin-left: 120px;
    align-items: center;
    color: #1A4029;
    cursor: pointer;
}

.navbar_4 {
    display: flex;
    height: 40px;
    width: 80px;
    padding: 10px;
    background-color: #1A4029;
    color: white;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;


}

.list {
    display: none;
}

.user {
    display: none;
}

.where-to {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 28px;
    color: #012B11;

}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    margin-top: 20px;

}

.search-bar_1,
.search-bar_2,
.search-bar_3,
.search-bar_4,
.search-bar_5 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #133C24;
    cursor: pointer;
}

.search-bar_1:hover,
.search-bar_2:hover,
.search-bar_3:hover,
.search-bar_4:hover,
.search-bar_5:hover {
    border-bottom: solid #133C24 2px;
}

.search-bar2 {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 30px auto;
    background-color: #F7F7F7;
    border-radius: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.search-bar2_1 {
    flex: 1;
}


.search-bar2_1 input {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    background: transparent;
}


.search-bar2_2 {
    background-color: #07D352;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

.insights {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.insights-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #012B11;
    border-radius: 15px;

    align-items: center;
    max-width: 1155px;
    margin: 0 auto;
    padding: 0 20px;



}

.insights-image {
    display: flex;
    gap: 30px;
}

.insights-image img {

    max-width: 500px;
    border-radius: 15px;
    padding: 10px;
}

.insights-text {
    color: white;

}

.insights-text h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.insights-text h1 {
    font-size: 52px;
    margin-bottom: 15px;
}

.insights-text p {
    margin-bottom: 10px;
}

.insights-button {
    background-color: white;
    color: #012B11;
    width: 120px;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}

.intrests {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.intrests-contents p {
    margin-top: 2px;
}

.intrests-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.intrests-coursecard img {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    aspect-ratio: 45/ 43;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 55%;
    left: 5%;
}

.intrests-coursecard {
    position: relative;
    color: white;
    font-size: 18px;
}

.explore {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;


}

.explore-contents p {
    margin-top: 2px;
}

.explore-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.explore-coursecard img {
    width: 100%;
    aspect-ratio: 9/ 10;
    object-fit: cover;
    border-radius: 10px;


}

.explore-coursecard h4,
.explore-coursecard p,
.explore-coursecard h5 {
    margin-top: 4px;
}

.liked {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore-coursecard {
    position: relative;
}


.inspiration {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #F7F7F7;

}

.inspiration-contents h3 {
    margin-top: 30px;
    margin-left: 180px;
}

.inspiration-container {
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.inspiration-coursecard img {
    width: 100%;
    aspect-ratio: 15/ 10;
    object-fit: cover;
    border-radius: 10px;


}

.inspiration-coursecard p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}


.liked {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inspiration-coursecard {
    position: relative;

}

.whale-tour {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 70px;

}

.whale-tour p {
    margin-top: 2px;
}

.whale-tour-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.whale-tour-coursecard img {
    width: 100%;
    aspect-ratio: 9/ 10;
    object-fit: cover;
    border-radius: 10px;
    flex-basis: 25%;
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;

}

.whale-tour-coursecard h4,
.whale-tour-coursecard p,
.whale-tour-coursecard h5 {
    margin-top: 4px;
}

.liked {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.whale-tour-coursecard {
    position: relative;
}

.community-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
}

.community-content h2 {
    color: #1A3D25;
}

.footer {
    margin-top: 30px;
    background-color: #F7F7F7;
    color: #38443A;
}

.footer-content1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;


}

.footer-content1_1 {
    flex-wrap: wrap;
    flex-basis: 35%;
    flex-grow: 1;
    margin-top: 20px;
    font-size: 13px;
}

.heading {
    font-size: 15px;
    margin-bottom: 2px;
}

.footer-content1_1 p {
    margin-top: 3px;
}

.sub-heading {
    font-size: 13px;
    margin-top: 15px;
}

.footer-content2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sub-content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sub-content1_1 {
    font-size: 12px;
    margin-top: 15px;
}

.sub-content1_2 {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
    color: black;

}

.sub-content1_2 p {
    border-bottom: solid black 2px;
}

.sub-content2_1 {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.button {
    width: 170px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #768A79;
    background-color: white;
}

.footer-content3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
}

/*Responsive design*/
@media (max-width: 1024px) {

    .navbar_2,
    .navbar_3 {
        display: none;

    }

    .navbar {
        font-size: 14px;
        justify-content: space-between;
    }

    .list {
        display: block;
    }

    .new {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .search-bar2_2 {
        margin-left: 63%;
    }

    .insights-image img {
        width: 280px;

    }

    .intrests-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .intrests-coursecard {
        flex: 42%;
    }

    .explore-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .explore-coursecard {
        flex: 42%;
    }

    .inspiration-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .inspiration-coursecard {
        flex: 52%;
    }

    .whale-tour-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .whale-tour-coursecard {
        flex: 42%;
    }

    .footer-content1 {
        gap: 20px;
    }

    .insights-image img {
        height: 350px;
        width: 450px;

        border-radius: 15px;
    }


}

@media (max-width: 768px) {



    .navbar_2,
    .navbar_3,
    .navbar_4 {
        display: none;
    }


    .list,
    .user {
        display: block;
        font-size: 20px;
    }

    .navbar {
        padding: 15px 20px;
    }

    .new {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar_1 h1 {
        font-size: 20px;
    }

    .where-to {
        font-size: 20px;
    }

    .search-bar_5 {
        display: none;
    }

    .search-bar2 {
        max-width: 90%;
    }

    .search-bar2_1 {
        flex: 1;
        min-width: 220px;
    }

    .search-bar2_1 input {
        font-size: 14px;
        padding: 12px 15px;


    }

    .search-bar2_2 {
        display: none;
    }

    .insights-image {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .insights-image img {
        width: 100%;
        max-width: 100%;
    }

    .insights-text h1 {
        font-size: 32px;
    }

    .insights-text h2 {
        font-size: 20px;
    }

    .insights-button {
        margin: 15px auto 0 auto;
    }

    .intrests-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .intrests-coursecard {
        flex: 100%;
    }

    .explore-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .explore-coursecard {
        flex: 100%;
    }

    .inspiration-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .inspiration-coursecard {
        flex: 100%;
    }

    .whale-tour-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .whale-tour-coursecard {
        flex: 100%;
    }

    .footer-content1 {
        gap: 20px;
    }

    .insights-image img {
        height: 350px;
        width: 450px;

        border-radius: 15px;
    }


}